* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f4f8;
  color: #333;
  
}

.App {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  
  text-align: center;
}

.App h1 {
  font-size: 2.5rem;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.App b{
  color: red;
}

.App p {
  font-size: 1.2rem;
  color: #818181;
  line-height: 1.6;
}


.toggle {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #1e3a8a;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b82f6;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav a{
  text-decoration: none;
}




