body{
  
}
.home {
  position: relative;           
  min-height: 651px;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-image: url("/public/flags.png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  
}

.home::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
   z-index: 1;
}

.home > * {
  position: relative;
  z-index: 2;
}

.description {
  font-size: 36px;
  color: #0A2463;
  text-shadow: 
    1px 1px 2px white,
    -1px 1px 2px white,
    1px -1px 2px white,
    -1px -1px 2px white;
  font-weight: bold;
  margin-bottom: 40px;
}



.game-modes {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 80px; 
  margin-top: 90px;
}


.mode-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.mode-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.mode-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1e3a8a;
}

.mode-card p {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}


.mode-card button:hover {
  background: #3b82f6;
}