.home {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.home-buttons {
  margin-top: 30px;
}

.home-button {
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.home-button:hover {
  opacity: 0.85;
}


.start-game {
  background-color: #007bff;
  color: white;
}

.leaderboard {
  background-color: #28a745;
  color: white;
}

.login {
  background-color: #ffc107;
  color: black;
}